.navigation{
  display: flex;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  padding: 0 8 px;
}
.navigation ul {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0 8px;
  font-weight: 500;
}
